body{
    font-family: sans-serif;
    background-color: #e5e5e5;
}
.app{
    width: 80%;
    height: 500px;
    border: 5px solid #abcea1;
    border-radius: 8px;
    padding: 15px;
    background-color: white;
}

#addNew{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(171,206,161,0.35);
    padding: 5px 10px;
    border-radius: 5px;
    cursor:pointer;
}
.fa-plus{
    background-color: #abcea1;
    padding: 3px;
    border-radius: 3px;
}