body{
    font-family: sans-serif;
    background-color: #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.app{
    width: 100%;
    height: 100%;
    border: 5px solid #abcea1;
    border-radius: 8px;
    padding: 15px;
    background-color: white;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
}

.app::-webkit-scrollbar{
    width: 0 !important;
}

#addNew{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(171,206,161,0.35);
    padding: 5px 10px;
    border-radius: 5px;
    cursor:pointer;
}
.fa-plus{
    background-color: #abcea1;
    padding: 3px;
    border-radius: 3px;
}
#tasks{
    display: grid;
    gap: 14px;
}

#tasks div{
    background-color: #e2eede;
    border: 3px solid #abcea1;
    padding: 5px;
    border-radius: 6px;
    display: grid;
    gap: 4px;
}

.options{
    justify-content: center;
    display: flex;
    gap: 20px;
}

.options i{
    cursor: pointer;
}
#msg {
    color: red;
}